* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.active {
    border-radius: 8px !important;
    /* margin-right: 2px !important; */
    background-color: #FFF !important;
    color: #000 !important;
}

.download-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: display 0.3s;
}

.container {
    position: relative;
    display: inline-block;
}

.container:hover .download-icon {
    display: block;
    color: #000;
    background-color: #FFF;
    padding: 5px;
}